<figure>
    <p class="center-text">
        <a href="{{ site.baseurl }}/index.html">Home</a> |
        <a href="{{ site.baseurl }}/pages/background.html">Background</a> |
        <a href="{{ site.baseurl }}/pages/source_analysis.html">Source Analysis</a> |
        <a href="{{ site.baseurl }}/pages/workflow.html">Workflow</a> |
        <a href="{{ site.baseurl }}/pages/initial findings.html">Initial Findings</a> |
        <a href="{{ site.baseurl }}/pages/reflections.html">Reflections</a> | 
        <a href="{{ site.baseurl }}/pages/biblio_and_credits.html">Bibliography and Credits</a>
    </p>
</figure>
